<!-- eslint-disable vue/multi-word-component-names -->
<script>
import { GlButton } from '@gitlab/ui';
import { mapActions, mapState } from 'vuex';
import { __ } from '~/locale';
import { isEndingStatus } from '../../stores/modules/terminal/utils';
import Terminal from './terminal.vue';

export default {
  components: {
    Terminal,
    GlButton,
  },
  computed: {
    ...mapState('terminal', ['session']),
    actionButton() {
      if (isEndingStatus(this.session.status)) {
        return {
          action: () => this.restartSession(),
          variant: 'confirm',
          category: 'primary',
          text: __('Restart Terminal'),
        };
      }

      return {
        action: () => this.stopSession(),
        variant: 'danger',
        category: 'secondary',
        text: __('Stop Terminal'),
      };
    },
  },
  methods: {
    ...mapActions('terminal', ['restartSession', 'stopSession']),
  },
};
</script>

<template>
  <div v-if="session" class="ide-terminal d-flex flex-column">
    <header class="ide-job-header d-flex align-items-center">
      <h5>{{ __('Web Terminal') }}</h5>
      <div class="ml-auto align-self-center">
        <gl-button
          v-if="actionButton"
          :variant="actionButton.variant"
          :category="actionButton.category"
          @click="actionButton.action"
          >{{ actionButton.text }}</gl-button
        >
      </div>
    </header>
    <terminal :terminal-path="session.terminalPath" :status="session.status" />
  </div>
</template>
